
<table class='table'>
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>
  <% users.each do |user| %>
  <tr>
    <td>
      <%= image_tag user.get_profile_image, size:'50x50' %>
    </td>
    <td><%= user.name %></td>
    <td>
      <%= link_to "show", user_path(user.id) %>
    </td>
  </tr>
  <% end %>

</table>
